/* Add this to your CSS file */
@media (max-width: 768px) {
    /* Reorder Most Popular to come first on smaller screens */
    .most-popular-card {
      order: -1;
    }
  }

  .card-scale {
    transition: transform 0.3s ease;
}

.card-scale:hover {
    transform: scale(1.05);
}
